#whole{
        margin : 60px;
        border : 2px solid #ffd2d2;
        padding :20px 20px 20px 20px;
        text-align: center;
    }
    
    #header{
        margin-top: 30px;
        
        text-align: center;
        font-size : 50px;
        font-family : "빙그레체";
        line-height: 60px;
        color : #8883ff;
    }
    /*전체 배경색과 폰트 */
    
    body {
        background-color : #ffffff;
        color : #242424;
        font-family : "나눔스퀘어";
        margin-left: 20px;
        text-align: 
    
    }
    
/*사이트 로고*/
    .site {
        display : inline-block;
        color : #cccccc;
        text-decoration :none;
        padding-bottom : 0px;
        font-family : "barcode font";
        font-size : 60px;
        margin-left: 15px
    }
    .site:hover {
        text-decoration : underline;
        color : #606060;
        font-size: 55px;
    }
    
    h1{
        color : #ff5c5c;
        font-family : "빙그레체";
        
    }
    
    h2 {
        margin-left : 20px;
        font-size : 20px;
    }
    p {
        margin-left : 40px;
        line-height: 30px;
        color : #646464;
    }
    
    /*메인메뉴*/
    #main_menu ul {
        margin : 0;
        padding : 0;
        margin-top : 0px;       
    }
    #main_menu  a {
        text-decoration : none;
                color : #afafaf;
        font-family : "빙그레체";
        font-weight : bold;
        font-size : 12px;
        display : inline-block;
        padding : 0px 0px 5px 0px;
        margin-right :5px;
    
         }
    #main_menu a:hover {
        color: #98a8ff;
        font-family : "배달의민족 주아";
        font-weight : 100;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    #headC {
        float : right;
        margin-right : 1px;
        list-style: none;
    }
    
    /*저작권*/
    #footer p {
        font-size : 10px;
        color : #cccccc;
        margin-top : 5px;
        margin-left: 5px
    }
    
    
